.container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

h3 {
	text-align: center;
}

.markdown {
	flex: 1;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.preview {
	flex: 1;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin: 1rem;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
		rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.md_input {
	font-family: "Fira Code", monospace;
	min-height: 100vh;
	border: none;
	resize: none;
	padding: 0 20px 0;
}

.md_preview {
	font-family: "Fira Code", monospace;
	min-height: 100vh;
	background-color: #2e3440;
	color: lightgray;
	padding: 0 20px 0;
}
